* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f9fa;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

.header {
    width: 100%;
    background-color: #000;
    color: #FFF;
}

.header .title {
    text-align: center;
    font-size: 24px;
    margin: 10px;
}

.main{
    width: 1000px;
    margin: auto;
    background-color: #fff;
}

.nav-tabs {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.nav-tabs li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px 1px 0px 1px;
    border-color: #ffc107;
    border-style: solid;
    border-radius: 5px 5px 0px 0px;
    padding: 3px 7px 2px 7px;
    margin: 0px 10px;
}

.nav-tabs li a:hover, .nav-tabs li.active a {
    background-color: rgba(255, 193, 7, 0.3);
}

.tab-content .tab-pane .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tab-content .tab-pane .content .title {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    background-color: #ffc107;
    border: 0;
}

.tab-content .tab-pane .content .links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 550px;
    padding: 0;
    font-size: 16px;
    margin-top: 10px;
}

.tab-content .tab-pane .content .links li a {
    display: flex;
    height: 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffc107;
    border-radius: 5px;
    padding: 12px;
}

.tab-content .tab-pane .content .links li a:hover {
    background-color: rgba(255, 193, 7, 0.3);
}

.tab-content .tab-pane .content .img {
    width: 550px;
}