<!DOCTYPE html>
<html lang="zn-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>口罩存量查詢 | Lynn</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="css/loaders.min.css">
    <link rel="stylesheet" href="css/all.css">
</head>

<body>
    <div id="vue" class="wrap">
        <div class="loading" v-if="loading === true">
            <div class="loader-inner pacman"></div>
            <div>資料讀取中</div>
        </div>
        <aside class="notice">
            <div class="box">
                <button class="close-button">×</button>
                <ul class="list">
                    <div class="title">使用須知</div>
                    <li class="item">部分藥局因採發放號碼牌方式，方便民眾購買口罩，<strong>系統目前無法顯示已發送號碼牌數量</strong>。</li>
                    <li class="item">口罩數量以藥局實際存量為主，<strong>線上查詢之數量僅供參考</strong>。</li>
                    <li class="item">若您的藥局有需要加註的公告事項，可以填寫<a href="https://pse.is/KH7DC">此表單</a>。</li>
                    <li class="item">填寫的資料會不定期匯出到<a href="https://pse.is/QDSMW">此檔案</a>。</li>
                </ul>
                <ul class="list">
                    <div class="title">資料來源</div>
                    <li class="item"><a href="https://g0v.hackmd.io/gGrOI4_aTsmpoMfLP1OU4A">口罩供需資訊平台</a></li>
                </ul>
            </div>
        </aside>
        <div class="sidebar" :class="{hide: menuHide === true}">
            <button class="toggle-button" @click="menuHide = !menuHide"></button>
            <div class="top">
                <h1 class="title">口罩存量查詢</h1>
                <div class="search" :class="{searching: searching === true}">
                    <input type="text" id="search-input" class="search-input" placeholder="搜尋藥局" v-model="searchInput"
                        @click="searching = true;" autocomplete="off">
                    <label class="search-label" for="search-input"></label>
                    <ul class="search-list" v-if="searching === true">
                        <li class="search-item" v-for="(item, index, key) of searchingList" :key="key"
                            @click="changePosition(item.geometry.coordinates[1],item.geometry.coordinates[0],item)"
                            v-if="index < 10">
                            <div class="name">{{item.properties.name}}</div>
                            <div class="address">{{item.properties.address}}</div>
                        </li>
                    </ul>
                </div>
                <div class="filter">
                    <ul class="checkboxes">
                        <input type="checkbox" name="mask" id="adult" class="checkbox"
                            :class="{active: checkboxes[0] === true}" v-model="checkboxes[0]">
                        <label for="adult">成人口罩</label>
                        <input type="checkbox" name="mask" id="child" class="checkbox"
                            :class="{active: checkboxes[1] === true}" v-model="checkboxes[1]">
                        <label for="child">兒童口罩</label>
                    </ul>
                    <select name="distance" class="distance" v-model="distance" v-if="userMarker !== null">
                        <option class="option" value="1000">1公里</option>
                        <option class="option" value="5000">5公里</option>
                        <option class="option" value="10000">10公里</option>
                    </select>
                </div>
            </div>
            <ul class="list">
                <li class="item" v-for="(item,index,key) of sortedData" :key="key"
                    v-if="(item.distance < distance || (userMarker === null && index < 10)) && isVisable(item.properties.mask_adult,item.properties.mask_child) "
                    @dblclick="changePosition(item.geometry.coordinates[1],item.geometry.coordinates[0],item)"
                    @click="focusStore(item)">
                    <h2 class="title">{{item.properties.name}}</h2>
                    <div class="distance" v-if="userMarker !== null">{{item.distance | round}} 公尺</div>
                    <div class="mask">
                        <div class="adult" :class="{stock: item.properties.mask_adult > 0}">
                            成人口罩：<span>{{item.properties.mask_adult}}</span></div>
                        <div class="child" :class="{stock: item.properties.mask_child > 0}">
                            兒童口罩：<span>{{item.properties.mask_child}}</span></div>
                    </div>
                    <div class="data address">{{item.properties.address}}
                    </div>
                    <div class="data phone"><a :href="'tel:'+item.properties.phone">{{item.properties.phone}}</a>
                    </div>
                    <div class="schedule-container" v-html="item.properties.schedule"></div>
                    <div class="data note" v-if="item.properties.note !== '-'">{{item.properties.note}}</div>
                </li>
            </ul>
        </div>
        <div id="map" class="map"></div>
    </div>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <script src="js/loaders.css.js"></script>
    <script src="js/all.js"></script>
</body>

</html>