/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

label {
	cursor: pointer;
}

* {
	box-sizing: border-box;
	/* overflow: hidden; */
}

.wrap {
	max-width: 1920px;
	margin: 0 auto;
	font-family: 'Noto Sans TC', sans-serif;
	color: #333333;
	display: flex;
}

/* sidebar */

.sidebar {
	background-color: #fff;
	width: 500px;
	box-shadow: 0px 0px 7px #333333;
	z-index: 1;
}

.sidebar .top {
	background-color: #7be0e5;
	padding: 25px;
	height: 200px;
}

.sidebar .top .title {
	font-size: 36px;
}

.sidebar .top .search {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.sidebar .top .search .search-input {
	border: none;
	outline: none;
	width: 395px;
	height: 55px;
	border-radius: 10px 0 0 10px;
	padding: 10px 0 10px 10px;
	font-size: 24px;
	font-family: 'Noto Sans TC', sans-serif;
}

.sidebar .top .search.searching .search-input {
	border-radius: 10px 0 0 0px;
	border-color: #5cc;
	border-style: solid;
	border-width: 1px 0 0 1px;
}

.sidebar .top .search .search-input:focus::placeholder {
	color: transparent;
}

.sidebar .top .search .search-button {
	background-image: url(../img/search.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	height: 55px;
	width: 55px;
	border-radius: 0 10px 10px 0;
	outline: none;
	border: none;
	cursor: pointer;
}

.sidebar .top .search.searching .search-button {
	border-radius: 0 10px 0px 0;
	border-color: #5cc;
	border-style: solid;
	border-width: 1px 1px 0 0;
}

.sidebar .top .search .search-list {
	position: absolute;
	top: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #fff;
	border: #5cc 1px solid;
	left: 0;
	border-top: none;
}

.sidebar .top .search .search-item {
	width: 448px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

.sidebar .top .search .search-item:hover{
	background-color: #ddd;
}

.sidebar .top .filter {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.sidebar .top .distance {
	margin-left: 20px;
	width: auto;
	font-size: 18px;
	font-family: 'Noto Sans TC', sans-serif;
	border: none;
	border-radius: 5px;
	text-align-last: right;
}

.sidebar .top .distance .option {
	direction: rtl;
}

.sidebar .top .checkboxes {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.sidebar .top .checkboxes .checkbox {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

.sidebar .top .checkboxes .checkbox::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../img/checkbox-false.png);
	background-size: 18px;
	margin: 0 3px 0 20px;
	cursor: pointer;
}

.sidebar .top .checkboxes .checkbox.active::before {
	background-image: url(../img/checkbox-true.png);
}

/* sidebar > list */

.sidebar .list {
	padding: 25px 7px 0px 25px;
	overflow-y: scroll;
	height: calc(100vh - 200px)
}

.sidebar .list::-webkit-scrollbar {
	width: 18px;
}

.sidebar .list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 10px 10px #7be0e5;
	border: solid 3px transparent;
}

.sidebar .list .item {
	border-bottom: 3px solid #7be0e5;
	padding-bottom: 5px;
	margin-bottom: 25px;
	position: relative;
}

.sidebar .list .item .title {
	font-size: 24px;
	width: 100%;
	padding-bottom: 5px;
}

.sidebar .list .distance {
	position: absolute;
	right: 0;
	top: 0;
}

.sidebar .list .data {
	width: calc(100% - 18px);
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-size: 18px;
}

.sidebar .list .data::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 5px 0 15px;
}

.sidebar .list .address::before {
	background-image: url(../img/address.png);
}

.sidebar .list .phone::before {
	background-image: url(../img/phone.png);
}

.sidebar .list .time::before {
	background-image: url(../img/time.png);
}

.sidebar .list .mask {
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 20px;
}

.sidebar .list .mask .adult, .sidebar .list .mask .child {
	width: 45%;
	padding: 10px 20px;
	margin: 20px 10px;
	border-radius: 4px;
	background-color: #ccc;
	display: flex;
	justify-content: center;
}

.sidebar .list .mask .stock {
	background-color: #7be0e5;
}

/* map */

.map {
	width: calc(100% - 500px);
	height: 100vh;
	z-index: 0;
}