/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

button {
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

/* main */

.main {
    width: 1280px;
    height: 800px;
    margin: auto;
    background-color: #FF8C6E;
    position: relative;
    overflow: hidden;
}

/* aside */

.aside {
    position: absolute;
    width: 487px;
    height: 786px;
    border: 3px solid #000;
    background-color: #fff;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 33px 354px 33px 8px;
}

.main.hide-aside .aside {
    transform: translateX(-560px) translateY(-50px) rotate(30deg);
}

.aside .search {
    width: 125px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
    border: #000 1px solid;
}

.aside .search .search-input {
    outline: none;
    width: 104px;
    height: 100%;
    border: 0;
    background-color: transparent;
}

.aside .search .search-button {
    width: 27px;
    height: 22.78px;
    display: flex;
    background-position: center;
    background-size: 15px 14.78px;
    background-color: transparent;
    background-image: url(../img/search.png);
}

.aside .menu {
    margin-top: 5px;
}

.aside .menu .menu-li {
    margin-top: 17px;
}

.aside .menu .menu-li .menu-button {
    text-align: left;
    padding: 0;
    width: 86px;
    line-height: 15px;
    font-size: 10px;
    border-bottom: 1px solid #000;
}

.aside .menu .submenu {
    margin-top: 5.5px;
    display: none;
}

.aside .menu .menu-li.active .submenu {
    display: block;
}

.aside .menu .submenu .submenu-li {
    position: relative;
    margin-top: 7px;
}

.aside .menu .submenu .submenu-li.active .submenu-button::before {
    content: "";
    width: 15px;
    height: 17px;
    position: absolute;
    top: 2px;
    left: -10px;
    background-image: url(../img/play-black.png);
    background-size: 15px 17px;
}

.aside .working {
    width: 342px;
    height: 786px;
    position: absolute;
    left: 153px;
    top: 11px;
    border: 3px solid #000;
    background-color: #fff;
}

.aside .working .aside-switch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 27px;
    right: 18px;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside .working .aside-switch .line {
    width: 27px;
    height: 3px;
    margin-top: 4px;
    background-color: #000;
}

.aside .working>.title {
    font-size: 30px;
    line-height: 45px;
    margin-top: 20.14px;
    margin-left: 28.69px;
}

.aside .working .working-list {
    margin-top: 39px;
    margin-left: 28.69px;
    padding: 12.5px 0px 16.5px 0;
    height: 474px;
    overflow: auto;
    width: 298px;
}

.aside .working .working-list::-webkit-scrollbar {
    width: 10px;
    height: 474px;
    appearance: none;
    border: 3px #707070 solid;
    border-radius: 5px;
    margin-left: 16px;
}

.aside .working .working-list::-webkit-scrollbar-thumb {
    background-color: #646464;
    width: 100%;
    border: 3px #707070 solid;
    border-radius: 5px;
}

.aside .working .working-list .song {
    position: relative;
    border-width: 1px 0px;
    border-color: #000;
    border-style: solid;
    margin-top: -1px;
    width: 271.84px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    padding: 8.5px 0px;
}

.aside .working .working-list .song:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.aside .working .working-list .song .row {
    display: flex;
    justify-content: space-between;
    width: 271.84px;
}

.aside .working .working-list .song .title {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}

.aside .working .working-list .song .album {
    font-size: 14px;
    line-height: 20px;
    color: #646464;
}

.aside .working .working-list .song .buttons {
    display: none;
    width: 60px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 104px;
    top: 25px;
}

.aside .working .working-list .song:hover .buttons {
    display: flex;
}
.aside .working .working-list .song .favorite{
    width: 20px;
    height: 18px;
    background-image: url(../img/heart-empty.png);
    background-size: 20px 18px;
}
.aside .working .working-list .song .play{
    border: #000 1px solid;
    border-radius: 50%;
    width: 22.24px;
    height: 22.24px;
    background-image: url(../img/play-perfect.png);
    background-size: 9.79px 12.04px;
    background-position: 6.5px center;
}


/* player */

.player {
    position: absolute;
    top: 28px;
    left: 580px;
    width: 732px;
    height: 732px;
    border: 3px solid #000;
    background-color: #fff;
    transition: 1s all;
    z-index: 0;
    background-image: url(../img/vibration1.png), url(../img/vibration2.png);
    background-repeat: no-repeat;
    background-position: 45.37px 196.54px, 626px 281.97px;
    background-size: 26.25px 61.64px, 15.92px 63.11px;
}

.player.pause {
    background-image: none;
}

.main.hide-aside .player {
    left: 256px;
}

.player .cd {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 530px;
    height: 530px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cd.png);
    background-position: center center;
}

.player .cd .circle {
    border: 3px solid #000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #fff;
}

.player .next-button, .player .previous-button, .player .random-button {
    width: 59.5px;
    height: 59.5px;
    background-size: 59.5px 59.5px;
}

.player .play-button {
    width: 92px;
    height: 92px;
}

.player .next-button, .player .previous-button, .player .random-button, .player .play-button {
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    background-position: center center;
}

.player .next-button:before, .player .previous-button:before, .player .random-button:before, .player .play-button:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3px;
    top: 5px;
    border: 3px solid #000;
    background-color: #C5C5C5;
    border-radius: 50%;
    z-index: -1;
}

.player .next-button:active, .player .previous-button:active, .player .random-button:active, .player .play-button:active, .player.random .random-button {
    margin-right: -7px;
    margin-top: 9px;
    background-color: #DFDFDF;
}

.player .next-button:active::before, .player .previous-button:active::before, .player .random-button:active::before, .player .play-button:active::before, .player.random .random-button::before {
    left: -3px;
    top: -3px;
}

.player .previous-button {
    top: 39px;
    right: 44.4px;
    background-image: url(../img/previous.png);
    background-size: 21px 20.5px;
}

.player .next-button {
    top: 119px;
    right: 44.4px;
    background-image: url(../img/next.png);
    background-size: 21px 20.5px;
}

.player .random-button {
    top: 537px;
    right: 44.4px;
    background-size: 32.6px 21.21px;
    background-image: url(../img/random.png);
}

.player .play-button {
    top: 574px;
    right: 346px;
    background-size: 29px 32.2px;
    background-image: url(../img/pause.png);
}

.player.pause .play-button {
    background-image: url(../img/play.png);
}

.player .needle {
    position: absolute;
    width: 204.8px;
    height: 386.6px;
    background-image: url(../img/needle.png);
    background-size: 204.8px 386.6px;
    background-repeat: no-repeat;
    background-color: transparent;
    top: 263px;
    left: 92px;
    transition: all 1s;
    transform-origin: 191px bottom 373px;
}

.player.pause .needle {
    transform: rotate(-15deg);
}

.player .title {
    position: absolute;
    top: 607px;
    left: 34px;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
}

.player .singer {
    position: absolute;
    top: 639px;
    left: 34px;
    font-size: 16px;
    line-height: 24px;
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
}

.player input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: #000 3px solid;
    border-radius: 76px;
}

.player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 25px;
    border: #000 3px solid;
    border-radius: 2px;
    background-color: #fff;
}

.player .time {
    position: absolute;
    top: 681px;
    left: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

.player .time .before, .player .time .after {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 5px;
}

.player .time .time-range {
    width: 538px;
    height: 9px;
}

.player .volum {
    position: absolute;
    top: 631px;
    left: 483px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 196.5px;
}

.player .volum-range {
    width: 163px;
    height: 9px;
}

.player.mute .volum-range, .player.mute .volum-range::-webkit-slider-thumb {
    border-color: #C5C5C5;
}

.player .mute-button {
    position: relative;
    width: 20.73px;
    height: 16.43px;
    background-image: url(../img/speaker.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20.73px 16.43px;
}

.player.mute .mute-button::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #000;
    left: -1px;
    top: -1px;
    transform-origin: left top;
    transform: rotate(30deg);
}

.player .bottom {
    position: absolute;
    top: 729px;
    left: -3px;
    width: 732px;
    height: 19px;
    border: 3px solid #000;
    border-top: 0;
    border-right-width: 1.5px;
    background-color: #C5C5C5;
    transform-origin: top;
    transform: skewX(45deg);
}

.player .right {
    position: absolute;
    top: -3px;
    left: 729px;
    width: 19px;
    height: 732px;
    border: 3px solid #000;
    border-left: 0;
    border-bottom-width: 1.5px;
    background-color: #C5C5C5;
    transform-origin: left;
    transform: skewY(45deg);
}