/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

/* main */

.main {
    width: 1280px;
    height: 800px;
    margin: auto;
    background-color: #FF8C6E;
    position: relative;
    overflow: hidden;
}

/* aside */

.aside {
    position: absolute;
    width: 487px;
    height: 786px;
    border: 3px solid #000;
    background-color: #fff;
    transition: 1s all;
}

.main.hide-aside .aside{
    transform: translateX(-560px) translateY(-50px) rotate(30deg);
}

.aside .working {
    width: 342px;
    height: 786px;
    position: absolute;
    left: 153px;
    top: 11px;
    border: 3px solid #000;
    background-color: #fff;
}

.aside .working .aside-switch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 27px;
    right: 18px;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside .working .aside-switch .line {
    width:27px;
    height: 3px;
    margin-top: 4px;
    background-color: #000;
}

/* player */

.player {
    margin-top: 28px;
    position: absolute;
    left: 580px;
    width: 732px;
    height: 732px;
    border: 3px solid #000;
    background-color: #fff;
    transition: 1s all ;
}

.main.hide-aside .player{
    left: 256px;
}

.player .cd{
    position: absolute;
    left: 70px;
    top: 30px;
    width: 530px;
    height: 530px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cd.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.player .cd .circle{
    border: 3px solid #000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #fff;
}

.player .bottom {
    position: absolute;
    top: 729px;
    left: -3px;
    width: 732px;
    height: 19px;
    border: 3px solid #000;
    border-top: 0;
    border-right-width: 1.5px;
    background-color: #C5C5C5;
    transform-origin: top;
    transform: skewX(45deg);
}

.player .right {
    position: absolute;
    top: -3px;
    left: 729px;
    width: 19px;
    height: 732px;
    border: 3px solid #000;
    border-left: 0;
    border-bottom-width: 1.5px;
    background-color: #C5C5C5;
    transform-origin: left;
    transform: skewY(45deg);
}